version: '3.7'

services:
  {{ docker_service_name }}:
    image: {{ docker_hub_url }}/{{ image_name }}:{{ tag }}
    hostname: "{{ docker_service_name }}"
    
    {% if publish_ports == true %}

    ports:
      - {{ host_port }}:{{ docker_port }}
      
    {% endif %}

    expose:
      - {{ docker_port }}
    
    networks:
      application_default:
        aliases:
            - {{ network_alias_name }}

    environment:
      telemetry_kafka_broker_list: kafka:9092
      telemetry_kafka_topic: dev.telemetry.ingest
      telemetry_local_storage_type: kafka
      
    env_file:
      - {{ env_file_deployment_location }}

  zookeeper:
    image: confluentinc/cp-zookeeper:latest
    environment:
      ZOOKEEPER_CLIENT_PORT: 2181
      ZOOKEEPER_TICK_TIME: 2000
    ports:
      - 22181:2181

  kafka:
    image: confluentinc/cp-kafka:latest
    depends_on:
      - zookeeper
    ports:
      - 29092:29092
    environment:
      KAFKA_BROKER_ID: 1
      KAFKA_ZOOKEEPER_CONNECT: zookeeper:2181
      KAFKA_ADVERTISED_LISTENERS: PLAINTEXT://kafka:9092,PLAINTEXT_HOST://localhost:29092
      KAFKA_LISTENER_SECURITY_PROTOCOL_MAP: PLAINTEXT:PLAINTEXT,PLAINTEXT_HOST:PLAINTEXT
      KAFKA_INTER_BROKER_LISTENER_NAME: PLAINTEXT
      KAFKA_OFFSETS_TOPIC_REPLICATION_FACTOR: 1

networks:
  application_default:
    external: true

